$width:width;
 $height:height;
 $background-color:background-color;
 $border:border;
 $float:float;
 $color:color;
 $overflow:overflow;
 $list-style-type:list-style-type;
 $display:display;
 $text-align:text-align;
 $padding:padding;
 $position:position;
 $top:top;
 $right:right;
 $font-size:font-size;
 