$border-radius:3 px;
  $padding:12px 15px 12px 15px;
 $base_background-color:#8bc34a;
  $base_border:0px;
  $min-width:110px;
  $font-family:SegoeUISemiBold;
  $font-size:16px;
  $base_color:#FFFFFF; 
