$width:width;
 $height:height;
 $background-color:background-color;
$border:border;
 $border-right:border-right;
	$border-left:1px solid red;
 $overflow:hidden;
 $list-style-type:none;
 $display:inline;
 $text-align:center;
 $position:absolute;
 $top:0;
 $right:0;
 $font-size:20px;
 $border-radius:4px;
$position1:relative;
$border-bottom:5px solid #6495ED;