@import "./base/_mixins.scss";
@import "_variables.scss";

header{
	@include common_width_height(100%,70px);
	@include common_bgcolor(black);
	border-bottom:$border-bottom;
}
header .user_image{
	@include common_margin(10px 340px);	
	@include common_border(2px solid white);
	@include common_float(right);
	
}
header .user_name{
	@include common_float(right);
	@include common_margin(-6% 290px);	
	@include common_color(white);
}
header .icon-section{
	@include common_float(right);
    @include common_margin(-6.6% 120px);
    border-left:$border-left;
}
header .icon-section ul{
	overflow:$overflow;
}
header .icon-section ul li{
	list-style-type:$list-style-type;
	display:$display;
}
header .icon-section ul li a{
	list-style-type:$list-style-type;
	display:$display;
}
header .icon-section ul li a:hover{
	@include common_color(black);
}
#main_left{
	@include common_width_height(200px,200px);
}
.profilepic_display{
	@include common_float(left);
	@include common_margin(20px);
	@include common_width_height(170px,170px);
	@include common_bgcolor(#40E0D0);
}
.greetingpic_display{
	@include common_float(left);
	@include common_margin(20px 0 0 22%);
	@include common_width_height(220px,80px);
	@include common_bgcolor(white);
	text-align:$text-align;
	@include common_padding(20% 0 0 0);
	@include common_border(1px solid #ccc);;

}
.upload_pic{
	@include common_float(left);
	@include common_margin(10px);
}

.fileUpload,.fileUpload_greeting {
    position:$position1;
    overflow:$overflow;
   @include common_margin(-20px 0 0 120px);
    @include common_bgcolor(#e7e7e7); 
    @include common_color(black);
  @include common_border(1px solid black); 
  @include common_width_height(60px,20px);
}
.fileUpload_greeting {
  @include common_margin(-20px 0 0 300px);
}
.fileUpload input.upload,.fileUpload_greeting input.upload {
    position:$position;
    top:$top;
    right:$right;
    @include common_margin(0);
    @include common_padding(0);
    font-size:$font-size;
}

#uploadFile{
	@include common_width_height(110px,15px);
}

#uploadbutton{
@include common_float(left);
@include common_margin(7px);}

.textbox1,.textbox2,.textbox3,.textbox4{
	@include common_float(right);
	@include common_width_height(400px,30px);
	@include common_border(1px solid #ccc);
        border-radius:$border-radius;

}
.textbox1,.textbox2,.textbox3,.textbox4{
	@include common_margin(-8px 0 0 10px);
}

#main_right{
	@include common_float(right);
	@include common_margin(-17% 32% 0 0);
}


.warning{
@include common_color(red);
}

.buttons{
	@include common_float(left);
	@include common_margin(10px);
	@include common_width_height(100%,45px);
	@include common_bgcolor(#40E0D0);
}
.cancel_button{
	@include common_width_height(60px,30px);
	position:$position;
 @include common_margin(1% 0 0 85%);
  @include common_color(black);
}
.save_button{
	@include common_width_height(40px,30px);
	position:$position;
	@include common_bgcolor(#FF00FF);
	@include common_color(white);
	@include common_margin(1% 0 0 80%);
}

.footer{
	@include common_float(left);
	@include common_margin(20px);
	@include common_bgcolor(black);
	@include common_width_height(100%,30px);
}
